.inputContainer {
    position: relative;

    label {
        margin-bottom: 4px;
        display: block;
        font-size: 0.875rem;
    }

    span {
        // Error message
        position: absolute;
        inset: 0 0 auto auto;
        color: var(--fontRed);
        font-size: 0.875rem;
        font-weight: 500;
        // opacity: 0;
        animation: fadeIn .3s ease;
    }

    input {
        border-radius: 8px;
        background-color: white;
        outline: 1px solid var(--fontGray);
        padding: 12px;
        width: 100%;
        color: var(--font);
        font-weight: bold;
        border: none;
        transition: .3s ease;
        appearance: none;
        box-sizing: border-box;

        &[aria-invalid=true] {
            outline: 1px solid var(--fontRed);

            &:hover,
            &:focus {
                outline: 1px solid var(--fontRed);
            }
        }

        &:hover {
            outline: 1px solid var(--font);
        }

        &:focus {
            outline: 1px solid var(--bgPurple);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.checkbox {
    appearance: none;
    font: inherit;
    color: currentColor;
    margin: 0;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--fontGrayLight);
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    display: grid;
    place-content: center;

    &:focus {
        outline: max(1px, 0.1em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }

    &:disabled {
        --bgPurple: var(--fontGray);

        &::before {
            box-shadow: inset 1em 1em var(--fontGray);
        }
    }

    &:checked {
        border: 1px solid var(--bgPurple);
        background-color: var(--bgPurple);

        &::before {
            transform: scale(1);
        }
    }

    &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em white;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
}

:root {
    --switchLeft: 3px
}

.switch {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: var(--font);
    border-radius: 10px;
    width: 2rem;
    height: 12px;
    cursor: pointer;
    position: relative;
    transition: .3s ease;

    >div {
        transition: .3s ease;
        width: 0.8rem;
        height: 0.8rem;
        aspect-ratio: 1;
        background-color: white;
        border-radius: 100%;
        position: absolute;
        box-sizing: border-box;
        // inset: auto auto auto 3px;
        left: var(--switchLeft);
    }
}

.switchActive {
    >div {
        animation: switchRight .2s ease;
        --switchLeft: calc(100% - 0.8rem - 3px); 
    }
}

@keyframes switchRight {
    from {
        left: 3px;
    }

    to {
        left: calc(100% - 0.8rem - 3px);
    }
}

@keyframes switchLeft {
    from {
        left: calc(100% - 0.8rem - 3px);
    }

    to {
        left: 3px;
    }
}